:root {
  --wdf-form-color: rgba(223, 193, 88, 1);
  --foundation-painted-ponylight: rgba(248, 245, 241, 1);
  --foundation-painted-ponylight-hover: rgba(245, 239, 234, 1);
  --foundation-painted-ponylight-active: rgba(233, 222, 212, 1);
  --foundation-painted-ponynormal: rgba(185, 150, 116, 1);
  --foundation-painted-ponynormal-hover: rgba(167, 135, 104, 1);
  --foundation-painted-ponynormal-active: rgba(148, 120, 93, 1);
  --foundation-painted-ponydark: rgba(139, 113, 87, 1);
  --foundation-painted-ponydark-hover: rgba(111, 90, 70, 1);
  --foundation-painted-ponydark-active: rgba(83, 68, 52, 1);
  --foundation-painted-ponydarker: rgba(65, 53, 41, 1);
  --foundation-darklighter: rgba(182, 182, 182, 1);
  --foundation-darklight-hover: rgba(167, 167, 167, 1);
  --foundation-darklight-active: rgba(149, 149, 149, 1);
  --foundation-darknormal: rgba(92, 92, 92, 1);
  --foundation-darknormal-hover: rgba(78, 78, 78, 1);
  --foundation-darknormal-active: rgba(67, 67, 67, 1);
  --foundation-darkdark: rgba(32, 32, 32, 1);
  --foundation-darkdark-hover: rgba(23, 23, 23, 1);
  --foundation-darkdark-active: rgba(10, 10, 10, 1);
  --foundation-lightwhite: rgba(255, 255, 255, 1);
  --foundation-lightwhite-hover: rgba(252, 252, 251, 1);
  --foundation-lightwhite-active: rgba(247, 246, 243, 1);
  --foundation-lightlight: rgba(252, 252, 251, 1);
  --foundation-lightlight-hover: rgba(247, 246, 243, 1);
  --foundation-lightlight-active: rgba(242, 241, 237, 1);
  --foundation-lightnormal: rgba(250, 249, 248, 1);
  --foundation-lightnormal-hover: rgba(244, 243, 239, 1);
  --foundation-lightnormal-active: rgba(238, 236, 231, 1);
  --foundation-lightdark: rgba(247, 247, 244, 1);
  --heading-01-font-family: "Encode Sans", Helvetica;
  --heading-01-font-weight: 400;
  --heading-01-font-size: 69px;
  --heading-01-letter-spacing: 0px;
  --heading-01-line-height: 120.00000476837158%;
  --heading-01-font-style: normal;
  --heading-02-font-family: "Encode Sans", Helvetica;
  --heading-02-font-weight: 400;
  --heading-02-font-size: 55px;
  --heading-02-letter-spacing: 0px;
  --heading-02-line-height: 120.00000476837158%;
  --heading-02-font-style: normal;
  --heading-03-font-family: "Encode Sans", Helvetica;
  --heading-03-font-weight: 400;
  --heading-03-font-size: 44px;
  --heading-03-letter-spacing: 0px;
  --heading-03-line-height: 120.00000476837158%;
  --heading-03-font-style: normal;
  --heading-04-font-family: "Encode Sans", Helvetica;
  --heading-04-font-weight: 400;
  --heading-04-font-size: 35px;
  --heading-04-letter-spacing: 0px;
  --heading-04-line-height: 120.00000476837158%;
  --heading-04-font-style: normal;
  --heading-05-font-family: "Encode Sans", Helvetica;
  --heading-05-font-weight: 400;
  --heading-05-font-size: 28px;
  --heading-05-letter-spacing: 0px;
  --heading-05-line-height: 120.00000476837158%;
  --heading-05-font-style: normal;
  --heading-06-font-family: "Encode Sans", Helvetica;
  --heading-06-font-weight: 400;
  --heading-06-font-size: 23px;
  --heading-06-letter-spacing: 0px;
  --heading-06-line-height: 120.00000476837158%;
  --heading-06-font-style: normal;
  --paragraph-01-font-family: "Encode Sans", Helvetica;
  --paragraph-01-font-weight: 400;
  --paragraph-01-font-size: 18px;
  --paragraph-01-letter-spacing: 0px;
  --paragraph-01-line-height: 25px;
  --paragraph-01-font-style: normal;
  --paragraph-02-font-family: "Encode Sans", Helvetica;
  --paragraph-02-font-weight: 400;
  --paragraph-02-font-size: 14px;
  --paragraph-02-letter-spacing: 0px;
  --paragraph-02-line-height: 20px;
  --paragraph-02-font-style: normal;
  --paragraph-03-font-family: "Encode Sans", Helvetica;
  --paragraph-03-font-weight: 400;
  --paragraph-03-font-size: 12px;
  --paragraph-03-letter-spacing: 0px;
  --paragraph-03-line-height: 120.00000476837158%;
  --paragraph-03-font-style: normal;
  --headingbold-01-font-family: "Encode Sans", Helvetica;
  --headingbold-01-font-weight: 600;
  --headingbold-01-font-size: 69px;
  --headingbold-01-letter-spacing: 0px;
  --headingbold-01-line-height: 120.00000476837158%;
  --headingbold-01-font-style: normal;
  --headingbold-02-font-family: "Encode Sans", Helvetica;
  --headingbold-02-font-weight: 600;
  --headingbold-02-font-size: 55px;
  --headingbold-02-letter-spacing: 0px;
  --headingbold-02-line-height: 71.80000305175781px;
  --headingbold-02-font-style: normal;
  --headingbold-03-font-family: "Encode Sans", Helvetica;
  --headingbold-03-font-weight: 600;
  --headingbold-03-font-size: 44px;
  --headingbold-03-letter-spacing: 0px;
  --headingbold-03-line-height: 61px;
  --headingbold-03-font-style: normal;
  --headingbold-04-font-family: "Encode Sans", Helvetica;
  --headingbold-04-font-weight: 600;
  --headingbold-04-font-size: 35px;
  --headingbold-04-letter-spacing: 0px;
  --headingbold-04-line-height: 120.00000476837158%;
  --headingbold-04-font-style: normal;
  --headingbold-05-font-family: "Encode Sans", Helvetica;
  --headingbold-05-font-weight: 600;
  --headingbold-05-font-size: 28px;
  --headingbold-05-letter-spacing: 0px;
  --headingbold-05-line-height: 120.00000476837158%;
  --headingbold-05-font-style: normal;
  --headingbold-06-font-family: "Encode Sans", Helvetica;
  --headingbold-06-font-weight: 600;
  --headingbold-06-font-size: 23px;
  --headingbold-06-letter-spacing: 0px;
  --headingbold-06-line-height: 120.00000476837158%;
  --headingbold-06-font-style: normal;
  --paragraphbold-01-font-family: "Encode Sans", Helvetica;
  --paragraphbold-01-font-weight: 600;
  --paragraphbold-01-font-size: 18px;
  --paragraphbold-01-letter-spacing: 0px;
  --paragraphbold-01-line-height: 120.00000476837158%;
  --paragraphbold-01-font-style: normal;
  --paragraphbold-02-font-family: "Encode Sans", Helvetica;
  --paragraphbold-02-font-weight: 600;
  --paragraphbold-02-font-size: 14px;
  --paragraphbold-02-letter-spacing: 0px;
  --paragraphbold-02-line-height: 120.00000476837158%;
  --paragraphbold-02-font-style: normal;
  --paragraphbold-03-font-family: "Encode Sans", Helvetica;
  --paragraphbold-03-font-weight: 600;
  --paragraphbold-03-font-size: 12px;
  --paragraphbold-03-letter-spacing: 0px;
  --paragraphbold-03-line-height: 120.00000476837158%;
  --paragraphbold-03-font-style: normal;
  --body-01-font-family: "Inter", Helvetica;
  --body-01-font-weight: 400;
  --body-01-font-size: 24px;
  --body-01-letter-spacing: 0px;
  --body-01-line-height: 120.00000476837158%;
  --body-01-font-style: normal;
  --body-02-font-family: "Inter", Helvetica;
  --body-02-font-weight: 400;
  --body-02-font-size: 20px;
  --body-02-letter-spacing: 0px;
  --body-02-line-height: 120.00000476837158%;
  --body-02-font-style: normal;
  --body-03-font-family: "Inter", Helvetica;
  --body-03-font-weight: 400;
  --body-03-font-size: 16px;
  --body-03-letter-spacing: 0px;
  --body-03-line-height: 120.00000476837158%;
  --body-03-font-style: normal;
  --body-04-font-family: "Inter", Helvetica;
  --body-04-font-weight: 400;
  --body-04-font-size: 14px;
  --body-04-letter-spacing: 0px;
  --body-04-line-height: 120.00000476837158%;
  --body-04-font-style: normal;
  --body-05-font-family: "Inter", Helvetica;
  --body-05-font-weight: 400;
  --body-05-font-size: 12px;
  --body-05-letter-spacing: 0px;
  --body-05-line-height: 120.00000476837158%;
  --body-05-font-style: normal;
}