@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #ffffff;
    width: 100%;
    height: 1182px;
    position: relative;
    padding: 69px;
    margin: 0 2.5vw;
}

.desktop .overlap {
    position: absolute;
    width: 1440px;
    height: 256px;
    top: 0;
    left: 0;
}

.desktop .rectangle {
    position: absolute;
    width: 720px;
    height: 256px;
    top: 0;
    left: 0;
    background-color: #dfc158;
}

.desktop .text-wrapper {
    position: absolute;
    top: 36px;
    left: 502px;
    transform: rotate(-90deg);
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-2 {
    position: absolute;
    top: 34px;
    left: 589px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .rectangle-2 {
    position: absolute;
    width: 730px;
    height: 125px;
    top: 107px;
    left: 710px;
    background-color: #121212;
}

.desktop .group {
    position: absolute;
    width: 204px;
    height: 77px;
    top: 130px;
    left: 620px;
}

.desktop .text-wrapper-3 {
    left: 97px;
    color: #ffffff;
    position: absolute;
    top: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-4 {
    left: 0;
    color: #000000;
    position: absolute;
    top: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-5 {
    position: absolute;
    top: 21px;
    left: 83px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #2e2e2e;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-group-wrapper {
    position: absolute;
    width: 173px;
    height: 173px;
    top: 77px;
    left: 75px;
}

.desktop .overlap-group {
    position: relative;
    height: 173px;
}

.desktop .ellipse {
    position: absolute;
    width: 172px;
    height: 172px;
    top: 1px;
    left: 1px;
    background-color: #121212;
    border-radius: 86.02px;
}

.desktop .WDF-LOGO {
    position: absolute;
    width: 173px;
    height: 173px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.desktop .IMG {
    position: absolute;
    width: 179px;
    height: 179px;
    top: 77px;
    left: 1179px;
    border-radius: 50%;
    border: #dfc158 solid 5px;
    object-fit: cover;
}

.desktop .text-wrapper-6 {
    position: absolute;
    top: 34px;
    left: 724px;
    transform: rotate(-90deg);
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #6e5135;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-7 {
    position: absolute;
    top: 34px;
    left: 810px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #6e5135;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .text-wrapper-8 {
    position: absolute;
    top: 26px;
    left: 1154px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #2e2e2e;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-2 {
    position: absolute;
    width: 431px;
    height: 173px;
    top: 284px;
    left: 505px;
}

.desktop .text-wrapper-9 {
    position: absolute;
    top: 95px;
    left: 58px;
    background: linear-gradient(180deg, rgb(223, 193, 88) 0%, rgb(49.94, 49.94, 49.94) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: "Inknut";
    font-weight: 700;
    color: transparent;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .image {
    position: absolute;
    width: 181px;
    height: 79px;
    top: 0;
    left: 140px;
    object-fit: cover;
}

.desktop .navbar {
    position: absolute;
    width: 1458px;
    height: 52px;
    top: 459px;
    left: -7px;
    background-color: #dfc158;
    border-radius: 8px;
}

.desktop .text-wrapper-10 {
    left: 60px;
    line-height: normal;
    position: absolute;
    font-family: "Inknut Antiqua-Bold", Helvetica;
    font-weight: 700;
    color: #272727;
    font-size: 20px;
    letter-spacing: 0;
}

.desktop .text-wrapper-11 {
    left: 440px;
    line-height: normal;
    position: absolute;
    font-family: "Inknut Antiqua-Bold", Helvetica;
    font-weight: 700;
    color: #272727;
    font-size: 20px;
    letter-spacing: 0;
}

.desktop .text-wrapper-12 {
    left: 660px;
    line-height: normal;
    position: absolute;

    font-family: "Inknut Antiqua-Bold", Helvetica;
    font-weight: 700;
    color: #272727;
    font-size: 20px;
    letter-spacing: 0;
}

.desktop .text-wrapper-13 {
    left: 973px;
    line-height: 51.7px;
    white-space: nowrap;
    position: absolute;

    font-family: "Inknut Antiqua-Bold", Helvetica;
    font-weight: 700;
    color: #272727;
    font-size: 20px;
    letter-spacing: 0;
}

.desktop .text-wrapper-14 {
    left: 1259px ;
    line-height: normal;
    position: absolute;

    font-family: "Inknut Antiqua-Bold", Helvetica;
    font-weight: 700;
    color: #272727;
    font-size: 20px;
    letter-spacing: 0;
}

.desktop .component {
    top: 538px;
    left: 1285px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .ellipse-wrapper {
    position: relative;
    width: 23px;
    height: 23px;
    top: 8px;
    left: 8px;
    background-color: #ffffff;
}

.desktop .overlap-wrapper {
    top: 577px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .overlap-3 {
    position: absolute;
    width: 39px;
    height: 115px;
    top: 641px;
    left: 1286px;
}

.desktop .component-2 {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 0;
    left: 0;
}

.desktop .component-3 {
    top: 38px;
    left: 0;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .component-4 {
    top: 76px;
    left: 0;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .component-5 {
    top: 768px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .component-6 {
    top: 811px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .component-7 {
    top: 854px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .overlap-4 {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 897px;
    left: 1286px;
}

.desktop .ellipse-3 {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 15px;
    left: 15px;
    background-color: #000000;
    border-radius: 4.5px;
}

.desktop .component-8 {
    top: 950px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .component-9 {
    top: 996px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .component-10 {
    top: 1045px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .component-11 {
    top: 1095px;
    left: 1286px;
    position: absolute;
    width: 39px;
    height: 39px;
}

.desktop .text-wrapper-15 {
    position: absolute;
    top: 548px;
    left: 56px;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-weight: 800;
    color: #dfc158;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    transition: transform .2s;
}

.desktop .text-wrapper-15:hover {
    transform: scale(1.3);
}


.desktop .text-wrapper-16 {
    position: absolute;
    top: 548px;
    left: 435px;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-17 {
    top: 648px;
    position: absolute;
    left: 435px;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-18 {
    top: 776px;
    position: absolute;
    left: 435px;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .frame {
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    top: 549px;
    left: 653px;
    display: inline-flex;
    position: absolute;
}

.desktop .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-20 {
    position: relative;
    width: fit-content;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .frame-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    top: 650px;
    left: 652px;
    display: inline-flex;
    position: absolute;
}

.desktop .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 257px;
    height: 324px;
    top: 776px;
    left: 652px;
}

.desktop .text {
    position: relative;
    align-self: stretch;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .span {
    font-weight: 700;
}

.desktop .text-wrapper-21 {
    font-family: "Roboto Flex-Regular", Helvetica;
}

.desktop .p {
    position: absolute;
    top: 576px;
    left: 58px;
    font-family: "Roboto Flex-SemiBold", Helvetica;
    font-weight: 600;
    color: #dfc158;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .frame-3 {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    top: 548px;
    left: 968px;
    display: inline-flex;
    position: absolute;
}

.desktop .text-wrapper-22 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto Flex-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.desktop .frame-4 {
    flex-direction: column;
    align-items: flex-end;
    top: 651px;
    left: 967px;
    gap: 8;
    display: inline-flex;
    position: absolute;
}


.desktop .text-wrapper-23 {
    position: relative;
    width: fit-content;
    font-family: "Roboto Flex-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}


.desktop .frame-5 {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    top: 780px;
    left: 967px;
    display: inline-flex;
    position: absolute;
}

.desktop .text-wrapper-24 {
    position: absolute;
    top: 648px;
    left: 56px;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-weight: 800;
    color: #dfc158;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;    
    transition: transform .2s;
}

.desktop .text-wrapper-24:hover {
    transform: scale(1.3);
}

.desktop .text-wrapper-25 {
    position: absolute;
    top: 776px;
    left: 56px;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-weight: 800;
    color: #dfc158;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    transition: transform .2s;
}

.desktop .text-wrapper-25:hover {
    transform: scale(1.3);
}

.desktop .line {
    top: 632px;
    left: 58px;
    position: absolute;
    width: 1420px;
    height: 1px;
    object-fit: cover;
}

.desktop .img {
    top: 760px;
    left: 55px;
    position: absolute;
    width: 1420px;
    height: 1px;
    object-fit: cover;
}

.desktop .line-2 {
    top: 1135px;
    left: 55px;
    position: absolute;
    width: 1420px;
    height: 1px;
    object-fit: cover;
}

.desktop .div-wrapper {
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 49px;
    top: 1220px;
    left: 1209px;
    background-color:#DFC158;
    border-radius: 18px;
    overflow: hidden;
    display: inline-flex;
    position: absolute;
}

.desktop .text-wrapper-26 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto Flex-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.img-year{
    height: 4.5rem;
    
}
.contact-form{
    margin: auto;
    background-color: #eae8e2;
    max-width:80%;
    height: 200px;
    margin-top: 100px;
}
.main-form{
    background-color:rgb(229, 220, 220); 
    max-width:80%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 4px;
}

.div select{
    background-color:white;
    color: #DFC158;
}

/* Media query for screens below 1000px width */
@media screen and (max-width: 1000px) {
    body {
        width: 150%;
    }
}



/* Media query for screens above 1500px width */
/* @media screen and (min-width: 1500px) {
    .desktop .div {
        margin-left: 2.5rem;
    }
} */

@media screen and (min-width: 1800px) {
    .desktop .div {
        margin-left: 15rem;
    }
    .desktop .navbar {
        width: 100%;
    }
}

@media screen and (min-width: 2000px) {
    .desktop .div {
        margin-left: 20rem;
    }
    .desktop .navbar {
        width: 1458px;
    }
}

@media screen and (min-width: 2400px) {
    .desktop .div {
        margin-left: 35rem;
    }
}
