*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 100%;
}

.fullscreen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    width: 98%;
}

/*-------------------------------------------------- Banner and heading css ------------------------------------------------------------ */

.banner{
    width: 96%;
    height: 20vh;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftbox{
    width: 52%;
    height: 100%;
    background-color: #dfc158;
}

.textleft{
    visibility: hidden;
    font-size:1;
}

.oi{
    display: flex;
    flex-direction:row;
    margin: 13px;
    float: right;
    position: relative;
    top: 3px;
    font-weight: bold;
}

.one{
    rotate: -90deg;
}

.rightbox{
    width: 48%;
}

.textright{
    visibility: hidden;
    font-size:1;
}

.of{
    display: flex;
    flex-direction: row;
    color: darkgoldenrod;
    min-height: 10%;
    position: relative;
    top: 18px;
    font-weight: bold;
}

.blackbox{
    position: relative;
    top: -30%;
    left: -3px;
    width: 100%;
    height: 45%;
    background-color: black;
}

.oiof{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 32.5%;
    top: 14%;
    width: 35%;
}

.o-i{
    font-size: larger;
    font-weight:500;
    position: relative;
    margin: 4px;
}

.o-f{
    font-size: large;
    font-weight:500;
    color: white;
    position: relative;
    margin: 5px;
}

.wdf-img{
    width: 19%;
    background-color: black;
    position: relative;
    top: 41%;
    right: 10%;
    border-radius: 50%;
    visibility: hidden;
}

.wcl-logo{
    width: 20%;
    position: relative;
    left: 66%;
    bottom: 32%;
    border-radius: 50%;
    border-color: #dfc158;
    border-style: solid;
    visibility: hidden;
}

.heading{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-year{
    height: 25px;
    width: auto;
    margin: auto;
}

.headingtext{
    font-family: "Inknut";
    font-weight: 700;
    color: darkgoldenrod;
    font-size: 40px; 
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}
/*-------------------------------------------------- Banner css and heading end ------------------------------------------------------------ */

/*-------------------------------------------------- table and form css ------------------------------------------------------------ */

.check-th{
    padding-left: 1rem;
}

.head-table{
    background-color: #dfc158;
    height: 2.5rem;
    font-weight: 700;
}

.data-table{
    border-bottom:#dfc158 solid 2px;
    margin-top: 5rem;
}

.td-head{
    font-weight: 500;
    transition: transform .2s;
}

.td-head:hover{
    color:#dfc158;
    transform: scale(1.2);
    cursor: pointer;
}

.container{
    margin-top: 3rem;
}

.table-main{
    
    margin-top: 2.5rem;
    margin: auto;
    width: auto;
    font-size: 0.35rem;
}

td{
    padding-left: 5px;
}


.main{
    width: 100%;
    margin-top: 5rem;
}

p {
    padding-bottom: 0.25rem;
    margin-bottom: 0;
}

.check {
    padding-top: 0;
    padding-bottom: 0;
}

.c1{
    padding-top: 2px;
    padding-bottom: 0;
}

.c2{
    padding-top: 0;
    padding-bottom: 4px;
}

.c3{
    padding-top: 0;
    padding-bottom: 4px;
}

.c4{
    padding-top: 0;
    padding-bottom: 9px;
}

.c5{
    padding-top: 0;
    padding-bottom: 8px;
}

.c6{
    padding-top: 2px;
    padding-bottom: 4px;
}

.c7{
    padding-top: 0;
    padding-bottom: 0;
}

.c8{
    padding-top: 1px;
    padding-bottom: 2px;
}

input[type=checkbox]{
    accent-color:  #dfc158;  
}

@supports (accent-color: #fff0ba) {
    .info {
      display: none;
    }
  }

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*  media queries */

@media screen and (min-width:213px) {
    
    p{
        padding-top: 2px;
    }
    

    .c4{
        padding-top: 0;
        padding-bottom: 9px;
    }

    .c7{
        padding-top: 0;
        padding-bottom: 8px;
    }

    .c8{
        padding-top: 0;
        padding-bottom: 2px;
    }
    
}


@media screen and (min-width:285px) {
    .blackbox{
        top: -9%;
    }

    p{
        padding-top: 5px;
    }

}

@media screen and (min-width:300px) {
    .table-main{
       font-size: 0.5rem;
       width: 100%;
    }

    .place{
        padding-bottom: 6px;
    }
    
    p{
        padding-top: 0;
    }

    
    .c1{
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .c2{
        padding-top: 0;
        padding-bottom: 17px;
    }
    
    .c3{
        padding-top: 0;
        padding-bottom: 9px;
    }
    
    .c4{
        padding-top: 0;
        padding-bottom: 14px;
    }
    
    .c5{
        padding-top: 0;
        padding-bottom: 10px;
    }
    
    .c6{
        padding-top: 2px;
        padding-bottom: 0;
    }

    .c7{
        padding-top: 13px;
        padding-bottom: 0;
    }
    
    .c8{
        padding-top: 17px;
        padding-bottom: 3px;
    }
}


@media screen and (min-width:380px) {
    .blackbox{
        top: 14%;
    }
    
    .o-i{
        margin: 5px;
    }
    .place{
        padding-bottom: 1px;
    }

    p{
        padding-top: 1px;
    }

    .c1{
        padding-top: 2px;
        padding-bottom: 0;
    }
    
    .c2{
        padding-top: 0;
        padding-bottom: 4px;
    }
    
    .c3{
        padding-top: 0;
        padding-bottom: 4px;
    }
    
    .c4{
        padding-top: 0;
        padding-bottom: 9px;
    }
    
    .c5{
        padding-top: 0;
        padding-bottom: 8px;
    }
    
    .c6{
        padding-top: 2px;
        padding-bottom: 7px;
    }

    .c7{
        padding-top: 0;
        padding-bottom: 7px;
    }
    
    .c8{
        padding-top: 1px;
        padding-bottom: 2px;
    }
}

@media screen and (min-width:398px) {
    .place{
        padding-bottom: 2px;
    }
}

@media screen and (min-width:420px) {

    .oi{
        top: 3%;
    }
    .o-i{
        font-size: xx-large;
    }

    .o-f{
        font-size: xx-large;
    }

    .oiof{
        top: 12%;
    }
}

@media screen and (min-width:425px) {
    
    .place {
        padding-bottom: 4px;
    }

    .c1{
        padding-top: 2px;
        padding-bottom: 0;
    }

    .c2{
        padding-top: 0;
        padding-bottom: 4px;
    }

    .c3{
        padding-top: 0;
        padding-bottom: 4px;
    }

    .c4{
        padding-top: 0;
        padding-bottom: 9px;
    }
    .c5{
        padding-top: 0;
        padding-bottom: 8px;
    }

    .c6{
        padding-top: 2px;
        padding-bottom: 4px;
    }

    .c7{
        padding-top: 0;
        padding-bottom: 8px;
    }

    .c8{
        padding-top: 0;
        padding-bottom: 2px;
    }
}


@media screen and (min-width:433px) {
    .place{
        padding-bottom: 5px;
    }
    
    .c2{
        padding-top: 5px;
        padding-bottom: 4px;
    }
     
    .c3{
        padding-top: 0;
        padding-bottom: 0;
    }   

    .c4{
        padding-top: 9px;
        padding-bottom: 9px;
    }
    
    .c5{
        padding-top: 0;
        padding-bottom: 3px;
    }
    
    .c6{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .c7{
        padding-top: 0;
        padding-bottom: 0;
    }

    .c8{
        padding-top: 0;
        padding-bottom: 2px;
    }
}

@media screen and (min-width:457px) {
    
    .c1{
        padding-top: 0;
        padding-bottom: 1px;
    }
    
    .c2{
        padding-top: 0;
        padding-bottom: 3px;
    }
    
    .c3{
        padding-top: 3px;
        padding-bottom: 0;
    } 

    .c4{
        padding-top: 8px;
        padding-bottom: 0;
    }

    .c5{
        padding-top: 1px;
        padding-bottom: 2px;
    }

    .c6 {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .c7 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .c8 {
        padding-top: 0;
        padding-bottom: 2px;
    }
}

@media screen and (min-width:475px) {
 
    .c1,.c2, .c3,.c4,.c5,.c6,.c7,.c8{
        padding-top: 0;
        padding-bottom: 2px;
    }
}


@media screen and (min-width:600px) {
    .table-main{
        font-size: 0.6rem;
    }

    .place{
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .check input{
        width: 20px;
        height: 20px;
    
    }
        
    .textleft{
        visibility: visible;
        font-size: 0.5rem;
        position: relative;
        bottom: -4px;
        left: 9%;
    }

    .textright{
        visibility: visible;
        font-size: 0.5rem;
        padding-left: 62%;
    }

    .oiof{
        left:32%;
    }

    .wdf-img{
        visibility: visible;
    }

    .wcl-logo{
        visibility: visible;
    }

    .img-year{
        height: 35px;
    }
}

@media screen and (min-width:770px) {
    .textleft{
        bottom: 0px;
        left: 9%;
    }
    
    .wdf-img{
        top: 34%;
        right: 7%;
    }

    .textright{
        padding-left: 65%;
    }

}

@media screen and (min-width:800px) {
    .table-main{
        font-size:13px;
    }
    .check {
        padding-bottom: 0.2rem;
        padding-top: 3px;
    }

}

@media screen and (min-width:1000px) {    
    .table-main{
        font-size:17px;
    }
    p {
        margin-top: 0;
        padding-top: 0 ;
    }
    .check{
        padding-top: 7px;
    }
    .textleft{
        bottom: 12px;
        left: 12%;
        font-size: small;
    }
    
    .wdf-img{
        top: 34%;
        right: 7%;
    }

    .textright{
        padding-left: 65%;
        font-size: small;
    }

    .img-year{
        height: 45px;
    }
}

@media screen and (min-width:1100px) {
    .textleft{
        bottom: 23px;
        left: 92px;
        font-size: medium;
    }
    
    .wdf-img{
        width: 130px;
        right: 34px;
    }

    .wcl-logo{
        width: 130px;
    }

    .textright{
        padding-left: 64%;
        font-size: medium;
    }

    .img-year{
        height: 55px;
    }

}

/* table and form media queries */



@media screen and (min-width:1201px) {
    .table-main{
        font-size:20px;
    }
    .check{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .check input{
        width: 30px;
        height: 30px;
    
    }

}

@media screen and (min-width:2000px) {
    .table-main{
        font-size: xx-large;
    }
    .place{
        padding-top: 0;
    }
    .check{
        padding-bottom: 0.45rem;
    }
}


/*-------------------------------------------------- table and form css end ------------------------------------------------------------ */
